.card{
    background-color: rgb(128, 225, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding : 12px;
    max-width: 15rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 3px 3px 10px 0px rgb(205, 175, 175);
}
#student-list{

    justify-content: center;
    gap: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
}
span{
    font-weight :bold;
    font-size: large;
    
}

.del-btn{
    background-color: crimson;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(249, 41, 41);
}

.del-btn:hover{
color:rgb(238, 179, 179)
}

.input-text{
    border-radius: 5px;
    width:50%;
    font-size: 18px;
    padding:12px;
    border: none;
    background-color:rgb(45, 207, 213);
    color:rgb(89, 43, 43);
}

.form-data{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    gap:1rem;
    margin:17px;
    border:1px solid rgb(51, 45, 45);
    padding:15px;
}

.btn{
    border:none;
    padding:7px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(198, 52, 52);
}